/* ------------------ WEBSITE GENERAL STYLING ------------------ */
body{
    --background-color: black;
    --main_color: rgb(24, 24, 24);
    --accent_color1: rgb(233, 195, 25);
    --accent_color2: rgb(168, 168, 168);
    --accent_color3: gray;

    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

    margin: 0;
    padding: 0;

    display: grid;
    justify-content: center;
    align-content: center;

    height: 100%;
}
.website-container{
    width: 60vw;

    height: 100%;

    padding: 0em 2em 2em;

    background-color: var(--main_color);
    color: white;
}
a{
    text-decoration: none;
    color: var(--accent_color1);
}
/* ------------------ WEBSITE HEADER CSS ------------------ */
.logo{
    height: 100px;
    width: auto;
    margin: 0em 1em 0em;
}
.header{
    margin: 0em 2em 2em;
    }
    .header ul li{
        list-style: none;
    }
        .top-bar{
            display: flex;
            margin: none;

            columns: 2;
            column-gap: 5em;
            align-items: center;

           
        }
        .top-bar a{
            color: var(--accent_color3);
            font-size: .8em;
        }
        .top-bar ul li{
            display: inline-block;
        }

        .nav-bar{
            margin: none;
            display: flex;

            columns: 2;
            align-items: center;


            width: 100%;
        }
        .nav-bar nav{
            width: 100%;
        }
            .nav-bar ul li{
                display: inline-block ;
                margin: 0em 1.5em 0em;
            }
        
/* ------------------ WEBSITE BODY CONTAINER CSS ------------------ */
.website-content-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    column-gap: 1em;
}
.section-container{
    display: grid;    
    grid-template-rows: auto;

    row-gap: 2em;
}
    .cont-section{
        border: 1px solid var(--accent_color2);
    }
        .content-header{
            height: 40px;
            background-color: var(--accent_color1);
        }
        .cont-section-inner{
            padding: 0.5em 1em 0.5em;
        }

/* recently-updated CSS section */
.recently-updated{
    display: grid;
    
}
    .recently-updated-content{
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
        .anime-item{
            width: 80%;
            text-align: center;

            margin: 0;
            padding: 0;
        }
            .anime-item-poster{
                width: 100%;
                object-fit: cover;
            }
            .anime-item-details{
                padding: 1em;
                font-size: 0.8em;
            }
            .anime-item-details a{
                font-weight: bold;
            }